.cards{
    padding: 100px 0;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 9px;
}
.cards img{
    padding-top: 20px;
    width: 150px;
    border-radius: 50%;
}
.cardPerson{
    text-align: center;
    height: 300px;
    border: solid 3px var(--orange);
    border-radius: 10px;
    width: 500px;
}
.cardBody{
    color: white;
}
